@page
@model IndexModel
@{
    ViewData["Title"] = "Achievements";
}

@if (!Model.SteamSignedIn)
{
<a asp-page="./Login" asp-route-Sort="@Model.NameSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved" class="steam-login">
    <p>Sign in with your Steam account to show completion info</p>
    <input type="image" src="~/assets/steam-signing.png" />
</a>
}
else
{
<div class="steam-login">
    <p>Steam user logged in</p>
</div>
}

<div class="filter-area">
    <form action="" method="get" class="filter-container">
        <input asp-for="Sort" hidden />
        <div class="filter-element">
            Show achievements earnable on version
            <select asp-for="Version" asp-items="@Model.VersionFilterList"><option value="">(none)</option></select>
        </div>
        <div class="filter-element">
            Show achievements not more difficult than
            <select asp-for="Difficulty" asp-items="@Model.DifficultyFilterList"><option value="">(none)</option></select>
        </div>
        @if (Model.SteamSignedIn)
        {
            <div class="filter-element">
                Show achievements that are
                <select asp-for="Achieved" asp-items="@Model.AchievedFilterList"><option value="">(none)</option></select>
            </div>
        }
        <button type="submit" class="filter-button">Filter</button>
    </form>
</div>


<table>
    <thead>
        <tr>
            <th class="image-col">
                <!-- Image -->
            </th>
            <th class="name-col">
                <a asp-page="./Index" asp-route-Sort="@Model.NameSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Name)
                </a>
            </th>
            <th class="description-col">
                <a asp-page="./Index" asp-route-Sort="@Model.DescriptionSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Description)
                </a>
            </th>
            <th class="difficulty-col">
                <a asp-page="./Index" asp-route-Sort="@Model.DifficultySort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Difficulty)
                </a>
            </th>
            <th class="version-col">
                <a asp-page="./Index" asp-route-Sort="@Model.VersionSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Version)
                </a>
            </th>
            <th class="percentage-col">
                <a asp-page="./Index" asp-route-Sort="@Model.PercentageSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Percentage)
                </a>
            </th>
            @if (Model.SteamSignedIn)
            {
                <th class="achieved-col">
                    <a asp-page="./Index" asp-route-Sort="@Model.AchievedSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                        @Html.DisplayNameFor(model => Model.Achievements[0].Achieved)
                    </a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Achievements)
        {
        <tr>
            <td class="image-col">
                <img src="@string.Concat("https://eu4.paradoxwikis.com", item.Image)" />
            </td>
            <td class="name-col">
                @Html.DisplayFor(modelItem => item.Name)<br />
            </td>
            <td class="description-col">
                @Html.DisplayFor(modelItem => item.Description)<br />
            </td>
            <td class="difficulty-col">
                @Html.DisplayFor(modelItem => item.Difficulty)<br />
            </td>
            <td class="version-col">
                @Html.DisplayFor(modelItem => item.Version)<br />
            </td>
            <td class="percentage-col">
                @Html.DisplayFor(modelItem => item.PercentageString)%<br />
            </td>
            @if (Model.SteamSignedIn)
            {
                <td class="achieved-col">
                    @if (item.Achieved)
                    {
                        <img src="https://eu4.paradoxwikis.com/images/d/da/Ledger_yes.png" />
                    }
                </td>
            }
        </tr>
        }
    </tbody>
</table>