@page
@model IndexModel
@{
    ViewData["Title"] = "Achievements";
}

@if (!Model.SteamSignedIn)
{
<a asp-page="./Login" asp-route-sortOrder="@Model.NameSort" class="steam-login">
    <p>Sign in with your Steam account to show completion info</p>
    <input type="image" src="~/assets/steam-signing.png" />
</a>
}
else
{
<div>
    <p>Steam user logged in</p>
</div>
}

<table>
    <thead>
        <tr>
            <th class="image-col">
                <!-- Image -->
            </th>
            <th class="name-col">
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Name)
                </a>
            </th>
            <th class="description-col">
                <a asp-page="./Index" asp-route-sortOrder="@Model.DescriptionSort">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Description)
                </a>
            </th>
            <th class="difficulty-col">
                <a asp-page="./Index" asp-route-sortOrder="@Model.DifficultySort">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Difficulty)
                </a>
            </th>
            <th class="version-col">
                <a asp-page="./Index" asp-route-sortOrder="@Model.VersionSort">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Version)
                </a>
            </th>
            <th class="percentage-col">
                <a asp-page="./Index" asp-route-sortOrder="@Model.PercentageSort">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Percentage)
                </a>
            </th>
            @if (Model.SteamSignedIn)
            {
                <th class="achieved-col">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.AchievedSort">
                        @Html.DisplayNameFor(model => Model.Achievements[0].Achieved)
                    </a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Achievements)
        {
        <tr>
            <td class="image-col">
                <img src="@string.Concat("https://eu4.paradoxwikis.com", item.Image)" />
            </td>
            <td class="name-col">
                @Html.DisplayFor(modelItem => item.Name)<br />
            </td>
            <td class="description-col">
                @Html.DisplayFor(modelItem => item.Description)<br />
            </td>
            <td class="difficulty-col">
                @Html.DisplayFor(modelItem => item.Difficulty)<br />
            </td>
            <td class="version-col">
                @Html.DisplayFor(modelItem => item.Version)<br />
            </td>
            <td class="percentage-col">
                @Html.DisplayFor(modelItem => item.PercentageString)%<br />
            </td>
            @if (Model.SteamSignedIn)
            {
                <td class="achieved-col">
                    @if (item.Achieved)
                    {
                        <img src="https://eu4.paradoxwikis.com/images/d/da/Ledger_yes.png" />
                    }
                </td>
            }
        </tr>
        }
    </tbody>
</table>