@page
@model IndexModel
@{
    ViewData["Title"] = "Achievements";
}

@if (!Model.SteamSignedIn)
{
<a asp-page="./Login" asp-route-Sort="@Model.NameSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved" class="steam-login">
    <p>Sign in with your Steam account to show completion info</p>
    <input type="image" src="~/assets/steam-signing.png" />
</a>
}
else
{
    @if (Model.SteamAchievementsException)
    {
        <div class="steam-logged-in clickable" id="loggedInContainer" onclick="showDetailedError()">
            <p>Steam user logged in</p>
            <p id="showDetailedErrorText">Still not seeing any completed achievements? Click here to check out the possible errors!</p>
            <div id="detailedErrorView">
                <img src="~/assets/steam-settings.png" />
                <p>The most likely problem is that the application can not access information about your Steam achievements. It can happen if your <b>Game details</b> are set to private.</p>
                <p>To change these settings go to <a href="https://steamcommunity.com/my/edit/settings" target="_blank">https://steamcommunity.com/my/edit/settings</a> and set <b>My profile</b> and <b>Game details</b> to public. This means that people will be able to see your profile and your game statistics - but without this setting enabled this site won't be able to display which achievements have you earned. </p>
            </div>
        </div>
    }
    else
    {
        <div class="steam-logged-in">
            <p>Steam user logged in</p>
        </div>
    }
}

<div class="filter-area">
    <form action="" method="get" class="filter-container">
        <input asp-for="Sort" hidden />
        <div class="filter-element">
            Show achievements earnable on version
            <select asp-for="Version" asp-items="@Model.VersionFilterList"><option value="">(none)</option></select>
        </div>
        <div class="filter-element">
            Show achievements not more difficult than
            <select asp-for="Difficulty" asp-items="@Model.DifficultyFilterList"><option value="">(none)</option></select>
        </div>
        @if (Model.SteamSignedIn && !Model.SteamAchievementsException)
        {
            <div class="filter-element">
                Show achievements that are
                <select asp-for="Achieved" asp-items="@Model.AchievedFilterList"><option value="">(none)</option></select>
            </div>
        }
        <button type="submit" class="filter-button">Filter</button>
    </form>
</div>


<table>
    <thead>
        <tr>
            <th class="image-col">
                <!-- Image -->
            </th>
            <th class="name-col">
                <a asp-page="./Index" asp-route-Sort="@Model.NameSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Name)
                </a>
            </th>
            <th class="description-col">
                <a asp-page="./Index" asp-route-Sort="@Model.DescriptionSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Description)
                </a>
            </th>
            <th class="difficulty-col">
                <a asp-page="./Index" asp-route-Sort="@Model.DifficultySort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Difficulty)
                </a>
            </th>
            <th class="version-col">
                <a asp-page="./Index" asp-route-Sort="@Model.VersionSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Version)
                </a>
            </th>
            <th class="percentage-col">
                <a asp-page="./Index" asp-route-Sort="@Model.PercentageSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                    @Html.DisplayNameFor(model => Model.Achievements[0].Percentage)
                </a>
            </th>
            @if (Model.SteamSignedIn && !Model.SteamAchievementsException)
            {
                <th class="achieved-col">
                    <a asp-page="./Index" asp-route-Sort="@Model.AchievedSort" asp-route-Version="@Model.Version" asp-route-Difficulty="@Model.Difficulty" asp-route-Achieved="@Model.Achieved">
                        @Html.DisplayNameFor(model => Model.Achievements[0].Achieved)
                    </a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Achievements)
        {
        <tr>
            <td class="image-col">
                <img src="Image/@item.ImageName" alt="Achievement icon" />
            </td>
            <td class="name-col">
                @Html.DisplayFor(modelItem => item.Name)<br />
            </td>
            <td class="description-col">
                @Html.DisplayFor(modelItem => item.Description)<br />
            </td>
            <td class="difficulty-col">
                @Html.DisplayFor(modelItem => item.Difficulty)<br />
            </td>
            <td class="version-col">
                @Html.DisplayFor(modelItem => item.Version)<br />
            </td>
            <td class="percentage-col">
                @Html.DisplayFor(modelItem => item.PercentageString)%<br />
            </td>
            @if (Model.SteamSignedIn && !Model.SteamAchievementsException)
            {
                <td class="achieved-col">
                    @if (item.Achieved)
                    {
                        <img src="/assets/ledger-yes.png" />
                    }
                </td>
            }
        </tr>
        }
    </tbody>
</table>